<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org " xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <title>Lista de Usuarios - Ciclo3</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdm.bootstrapcdn.com/bootstrap/3.4.1/ccs/bootstrap.min.ccs">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <style>
    a{
    color:white;
    }
    a:hover {
    color: black;
    text-decoration:none;
    }
</style>
</head>
<body>
<main class="d-flex flex-nowrap">
  <!--
  <p th:text="'Bienvenido, '+ ${user.getCorreo()}" class="text-right"></p> -->



    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <ul class="nav nav-pills flex-column mb-auto align-items-center">
          <li class="nav-item">
            <img src="/img/logo.png" class="display-block mx-auto mb-4" height="100" alt="ícono inicio"/>
          </li>
          <li class="nav-item">
            <span class="fs-4">Administrador Net Team</span>
          </li>

        </ul>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto align-items-center">
        <li class="nav-item py-2">
          <a type="button" class="btn btn-secondary btn-lg px-4 gap-5" th:href=@{/movimientoos}>
            Ingresos y Egresos
          </a>
        </li>
        <li class="nav-item py-2">
          <a type="button" class="btn btn-secondary btn-lg px-4 gap-5" th:href=@{/usuarioos}>
            Usuarios
          </a>
        </li>
        <li class="nav-item py-2">
          <a type="button" class="btn btn-secondary btn-lg px-4 gap-5" th:href=@{/empresas}>
            Empresas
          </a>
        </li>
        <li class="nav-item py-2">
            <button type="button" class="btn btn-danger" style="float:right"><a th:href="@{/logout}">Cerrar Sesión</a></button>
        </li>
      </ul>
    </div>



    <div class="container">
       <h1> Lista de movimientos </h1>

        <!--Dibujamos la tabla-->
        <br><table class="table table-bordered">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Empresa</th>
          <th>Rol</th>
          <th>Movimientos</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>


        <tr th:each="usuarios : ${usuarioslist}">
          <td th:text="${usuario.id}"></td>
          <td th:text="${usuario.name}"></td>
          <td th:text="${usuario.E-mail}"></td>
          <td th:text="${usuario.entreprise.name}"></td>


          <td><button type="button" class="btn btn-info"><a th:href="@{/Usuario/{id}/Movimientos(id=${usuario.id})}">Ver</a></button></td>
          <td><button type="button" class="btn btn-warning"><a th:href="@{/EditarUsuario/{id}(id=${usuario.id})}">Editar</a></button></td>
          <td><button type="button" class="btn btn-danger"><a th:href="@{/EliminarUsuario/{id}(id=${usuario.id})}">Eliminar</a></button></td>
        </tr>
      </table>

      <!-- vamos a crear un boton que sirva para agregar nuevos empleados -->
      <button type="button" class="btn btn-info"><a th:href="@{/agregarusuario}">Agregar Nuevo Usuario</a></button>
      <br><br>
      <!-- boton que me lleva a la lista de empresas -->
      <button type="button" class="btn btn-primary"><a th:href="@{/VerUsuario}">Ver lista de Empresas</a></button>
    </div>

</main>

  <script th:inline="javascript">
    window.onload=function(){

        var msg= [[${mensaje}]];
        if (msg == "saveOK"){
            Command : toastr["success"]("Usuario registrado con éxito!")
            }
        else if (msg == "updateOK"){
            Command : toastr["success"]("Usuario actualizado con éxito!")
        }
        else if (msg == "deleteOK"){
            Command : toastr["error"]("Usuario de empleado eliminado con éxito!")
        }
        else if (msg == "deleteError"){
            Command : toastr["error"]("Usuario de empleado no ha sido eliminado!")
        }
        toastr.options={
            "positionClass": "toast-top-right",
            "showDuration":"300",
            "showMethod":"fadeIn",
            "hideMethod":"fadeOut",
        }


    }

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>